openapi: 3.0.3
info:
  title: Shared List API
  description: |
    Backend for the KaiOS shared list app.
    Architecture: DNS (lists.elliscode.com) → AWS API Gateway → AWS Lambda → DynamoDB

    All requests must include a valid `Origin` header matching an allowed domain.
    All endpoints use POST only — see the comment in lambda_function.py for the reasoning.
  version: 1.0.0

servers:
  - url: https://lists.elliscode.com

components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
      required: [message]

    ListItem:
      type: object
      description: A single item in the shared list.
      properties:
        updated:
          description: Unix timestamp (int or numeric string) of the last modification. Normalized to string in responses.
          oneOf:
            - type: integer
            - type: string
              pattern: '^\d+$'
        display:
          type: string
          description: Display name shown in the UI.
        crossed:
          type: boolean
          description: Whether the item is crossed off.
        deleted:
          type: boolean
          description: Soft-delete flag. Items are never hard-deleted; set this to true to hide them.
      required: [updated, display, crossed, deleted]

    ListMap:
      type: object
      description: |
        A map of item keys to list items. The key is a stable identifier for the item
        (e.g. "broccoli", "cheese"). Keys are chosen by the client.
      additionalProperties:
        $ref: '#/components/schemas/ListItem'

  securitySchemes:
    SessionCookie:
      type: apiKey
      in: cookie
      name: <APP_NAME>-auth-token
      description: HttpOnly session cookie set by POST /login. APP_NAME is the value of the Lambda environment variable.

  parameters:
    CsrfToken:
      name: csrf
      in: header
      description: CSRF token returned in the `x-csrf-token` response header from POST /login. Must also be included in the request body.
      required: true
      schema:
        type: string

paths:
  /ping:

    post:
      summary: Health check
      description: Returns "pong". No authentication required.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: pong
        '403':
          description: Request origin not in the allowed domain list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /list:
    post:
      summary: Store and merge list
      description: |
        Accepts the client's local copy of a list, merges it with the server copy using
        last-write-wins by `updated` timestamp, persists the result, and returns it.

        - `name` is the user-facing identifier for the list, unique per user.
        - If no list with that name exists for the user, a new list is created and assigned a random ID.
        - If a list with that name already exists, the client list is merged into the server list.

        Merge rule: for each item key, whichever side has the higher `updated` timestamp wins.
        Items present only on the server are preserved. Items present only on the client are added.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                csrf:
                  type: string
                  description: CSRF token from the `x-csrf-token` header returned at login.
                name:
                  type: string
                  description: User-facing name of the list. Unique per user.
                list:
                  $ref: '#/components/schemas/ListMap'
              required: [csrf, name]
            examples:
              new_list:
                summary: Create a new list
                value:
                  csrf: "abc123csrf0abc123csrf0abc123csrf0"
                  name: "Groceries"
                  list:
                    broccoli:
                      updated: 1746000000
                      display: "Broccoli"
                      crossed: false
                      deleted: false
              update_existing:
                summary: Sync changes to an existing list
                value:
                  csrf: "abc123csrf0abc123csrf0abc123csrf0"
                  name: "Groceries"
                  list:
                    broccoli:
                      updated: 1746000001
                      display: "Broccoli"
                      crossed: true
                      deleted: false
      responses:
        '200':
          description: Merged list returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  list_id:
                    type: string
                    pattern: '^[a-zA-Z0-9]{10}$'
                    description: The internal list ID (newly generated or existing).
                  name:
                    type: string
                    description: The name of the list as supplied in the request.
                  list:
                    $ref: '#/components/schemas/ListMap'
                required: [list_id, name, list]
              example:
                list_id: "abc123XYZ9"
                name: "Groceries"
                list:
                  broccoli:
                    updated: "1746000001"
                    display: "Broccoli"
                    crossed: true
                    deleted: false
        '400':
          description: The `name` field was missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: "name is required"
        '403':
          description: |
            Authentication or CSRF failure. Possible messages:
            - "No active session, please log in"
            - "Your session has expired, please log in"
            - "Your CSRF token is invalid, your session has expired, please re log in"
            - "Forbidden" (invalid origin)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /share:
    post:
      summary: Accept a shared list
      description: |
        Accepts a shared list by its universal list ID. If the user already has a list
        with the same name, their existing items are merged into the shared list
        (last-write-wins by `updated` timestamp), and the user's `list_names` entry
        is updated to point to the shared list ID.

        If there is no name collision, the shared list is simply added to the user's `list_names`.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                csrf:
                  type: string
                  description: CSRF token from the `x-csrf-token` header returned at login.
                list_id:
                  type: string
                  pattern: '^[a-zA-Z0-9]{10}$'
                  description: The universal ID of the list being shared.
              required: [csrf, list_id]
            example:
              csrf: "abc123csrf0abc123csrf0abc123csrf0"
              list_id: "abc123XYZ9"
      responses:
        '200':
          description: Share accepted. Returns the (merged) list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  list_id:
                    type: string
                    pattern: '^[a-zA-Z0-9]{10}$'
                  name:
                    type: string
                  list:
                    $ref: '#/components/schemas/ListMap'
                required: [list_id, name, list]
              example:
                list_id: "abc123XYZ9"
                name: "Groceries"
                list:
                  broccoli:
                    updated: "1746000001"
                    display: "Broccoli"
                    crossed: false
                    deleted: false
        '400':
          description: Missing or invalid `list_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authenticated or invalid CSRF token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No list found with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: "List not found"
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /delete:
    post:
      summary: Delete a list
      description: |
        Removes the list from the authenticated user's `list_names` and sets a 30-day TTL
        on the list record. The list is not immediately hard-deleted — if any other user
        loads the list before the TTL fires, the TTL is automatically cleared and the list
        survives. The list is only hard-deleted by DynamoDB after 30 days if no one accesses it.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                csrf:
                  type: string
                name:
                  type: string
                  description: Name of the list to delete.
              required: [csrf, name]
            example:
              csrf: "abc123csrf0abc123csrf0abc123csrf0"
              name: "Groceries"
      responses:
        '200':
          description: List removed from user and marked for expiry.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                required: [name]
              example:
                name: "Groceries"
        '400':
          description: Missing or invalid `name`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authenticated or invalid CSRF token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No list with that name found for this user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: "List not found"
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /me:
    post:
      summary: Get current user's lists
      description: |
        Returns the list names and their corresponding IDs for the authenticated user.
        Any list the user has successfully created or synced is tracked here,
        so they can recover their lists on a new device after logging in.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                csrf:
                  type: string
              required: [csrf]
            example:
              csrf: "abc123csrf0abc123csrf0abc123csrf0"
      responses:
        '200':
          description: Map of list names to list IDs for the user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  list_names:
                    type: object
                    additionalProperties:
                      type: string
                      pattern: '^[a-zA-Z0-9]{10}$'
                  user_id:
                    type: string
                    pattern: '^[a-zA-Z0-9]{10}$'
                required: [list_names, user_id]
              example:
                list_names:
                  Groceries: "abc123XYZ9"
                  TODO: "def456UVW0"
                user_id: "xK9mP2qR7n"
        '403':
          description: Not authenticated or invalid CSRF token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /otp:
    post:
      summary: Request a one-time password
      description: |
        Sends a 6-digit OTP to the provided email address via SES.
        If a valid (non-expired) OTP already exists for this email, no new email is sent
        and the response includes a `status` field indicating that.

        OTPs expire after 5 minutes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
              required: [email]
            example:
              email: "user@example.com"
      responses:
        '200':
          description: |
            OTP sent, or one already exists.
            If a new OTP was sent, the body contains only `email`.
            If one was already pending, the body also contains a `status` message.
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    format: email
                  status:
                    type: string
                    description: Only present when an OTP already existed and no new email was sent.
                required: [email]
              examples:
                otp_sent:
                  summary: OTP sent successfully
                  value:
                    email: "user@example.com"
                otp_already_exists:
                  summary: OTP already pending
                  value:
                    email: "user@example.com"
                    status: "OTP already exists for user@example.com, please log in"
        '400':
          description: Missing or invalid email address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missing:
                  value:
                    message: "email is required"
                invalid:
                  value:
                    message: "Invalid email"
        '403':
          description: Request origin not in the allowed domain list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /log-out-all:
    post:
      summary: Log out of all devices
      description: |
        Completely deletes the `active_tokens` record for the authenticated user.
        All existing sessions on all devices are immediately invalidated — any subsequent
        request using a previously valid session token will receive a 403.

        The client should also clear its local CSRF token and session cookie after calling this.
      security:
        - SessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                csrf:
                  type: string
              required: [csrf]
            example:
              csrf: "abc123csrf0abc123csrf0abc123csrf0"
      responses:
        '200':
          description: All sessions invalidated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: "Logged out of all devices"
        '403':
          description: Not authenticated or invalid CSRF token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /login:
    post:
      summary: Log in with OTP
      description: |
        Verifies the OTP sent by `POST /otp`. On success, sets an HttpOnly session cookie
        and returns a CSRF token in the `x-csrf-token` response header.

        Failed attempts trigger a 30-second cooldown before the next attempt is allowed.
        The session cookie expires after ~4 months.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                otp:
                  type: string
                  pattern: '^\d{6}$'
                  description: 6-digit OTP from the email.
              required: [email, otp]
            example:
              email: "user@example.com"
              otp: "482910"
      responses:
        '200':
          description: Login successful. Session cookie and CSRF token are set.
          headers:
            Set-Cookie:
              description: |
                HttpOnly session cookie. Format: `<APP_NAME>-auth-token=<token>; Domain=lists.elliscode.com; Expires=...; Secure; HttpOnly`
              schema:
                type: string
            x-csrf-token:
              description: CSRF token to include as `csrf` in the body of subsequent authenticated requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: "successfully logged in"
        '403':
          description: |
            OTP incorrect, rate-limited, or invalid origin. Possible messages:
            - "Incorrect OTP, please try again"
            - "Please wait {N} seconds before trying to log in again"
            - "Forbidden" (invalid origin)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: |
            Missing fields, unrecognised email, or expired OTP. Possible messages:
            - "email and otp are required"
            - "No user exists"
            - "OTP expired, please wait 30 seconds and try to log in again"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
